.grid {
  width: 100%;
  overflow: auto;
  height: 100%;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  max-height: 1000px;
}

.grid__row {
  display: -webkit-box;
}


.grid__cell {
  width: 25px;
  height: 25px;
  border: 1px solid #000000;
}

.msg-wrapper {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px #000000 inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
}