* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__container {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.app__control-panel {
  height: 100px;
}

.app__game-area {
  height: calc(100vh - 100px);
  padding: 20px;
}